In [1]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
import prepare

# test sales function

In [4]:
from prepare import prep_sales

In [5]:
df = prep_sales()

In [6]:
df.head()

,item_id,sale_amount,sale_id,store_id,store_address,store_city,store_state,store_zipcode,item_brand,item_name,item_price,item_upc12,item_upc14,month,day_of_week,sales_total
sale_date,,,,,,,,,,,,,,,,
2013-01-01 00:00:00+00:00,1,13.0,1,1,12125 Alamo Ranch Pkwy,San Antonio,TX,78253,Riceland,Riceland American Jazmine Rice,0.84,35200264013,35200264013,1,1,10.92
2013-01-01 00:00:00+00:00,12,26.0,211817,7,12018 Perrin Beitel Rd,San Antonio,TX,78217,Mueller,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,1,218.40
2013-01-01 00:00:00+00:00,46,27.0,832657,7,12018 Perrin Beitel Rd,San Antonio,TX,78217,Mama Marys,Pizza Sauce,4.65,35457770664,35457770664,1,1,125.55
2013-01-01 00:00:00+00:00,12,54.0,213643,8,15000 San Pedro Ave,San Antonio,TX,78232,Mueller,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,1,453.60
2013-01-01 00:00:00+00:00,12,35.0,215469,9,735 SW Military Dr,San Antonio,TX,78221,Mueller,Mueller Sport Care Basic Support Level Medium ...,8.40,74676640211,74676640211,1,1,294.00

In [7]:
df.shape

(913000, 16)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 913000 entries, 2013-01-01 00:00:00+00:00 to 2017-12-31 00:00:00+00:00
Data columns (total 16 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   item_id        913000 non-null  int64
 1   sale_amount    913000 non-null  float64
 2   sale_id        913000 non-null  int64
 3   store_id       913000 non-null  int64
 4   store_address  913000 non-null  object
 5   store_city     913000 non-null  object
 6   store_state    913000 non-null  object
 7   store_zipcode  913000 non-null  int64
 8   item_brand     913000 non-null  object
 9   item_name      913000 non-null  object
 10  item_price     913000 non-null  float64
 11  item_upc12     913000 non-null  int64
 12  item_upc14     913000 non-null  int64
 13  month          913000 non-null  int64
 14  day_of_week    913000 non-null  int64
 15  sales_total    913000 non-null  float64
dtypes: float64(3), int64(8), object(5)
memory usage: 118.4+ MB

# test Power function

In [9]:
from prepare import prep_power

In [10]:
df2 = prep_power()

In [12]:
df2.head()

            consumption  wind  solar  wind_and_solar  month  year
date
2006-01-01     1069.184   0.0    0.0             0.0      1  2006
2006-01-02     1380.521   0.0    0.0             0.0      1  2006
2006-01-03     1442.533   0.0    0.0             0.0      1  2006
2006-01-04     1457.217   0.0    0.0             0.0      1  2006
2006-01-05     1477.131   0.0    0.0             0.0      1  2006

In [13]:
df2.shape

(4383, 6)

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 4383 entries, 2006-01-01 to 2017-12-31
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   consumption     4383 non-null   float64
 1   wind            4383 non-null   float64
 2   solar           4383 non-null   float64
 3   wind_and_solar  4383 non-null   float64
 4   month           4383 non-null   int64
 5   year            4383 non-null   int64
dtypes: float64(4), int64(2)
memory usage: 239.7 KB